

  /* Base styles */
.base-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex: 1;
  /* padding: 16px; */
  overflow-y: auto;
}

/* Mobile styles */
@media (max-width: 767px) {
  .base-layout {
      flex-direction: column;
  }

  .main-content {
      padding: 8px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  /* .base-layout {
      flex-direction: row;
  } */

  .main-content {
      padding: 12px;
  }
}