

  
  .card-content {
    margin-bottom: 16px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: none;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  
  .card-footer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Montserrat, sans-serif;
  }
  
  .submit-button:hover {
    background-color: #252525;
  }

  .add-sub-item{

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;

  }
  
  /* Mobile styles */
  @media (max-width: 767px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
  }


  