.sidebar {
  width: 10%;
  height: 100%;
  background-color: #2b2e4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.sidebar-title {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: #fff;

}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item.active {

  background-color: #D74848;
}

/* .menu-item:hover {
  
}  */

.menu-item span {
  margin-left: 10px;
}

.get-started {
  background-color: #1e2241;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  color: #ccc;
}

.start-setup-btn {
  background-color: #D74848;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

.start-setup-btn:hover {
  background-color: #ff6161;
}



.sidebar-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70px;
  background-color: #0B182A;
  padding-top: 20px;
}

.sidebar-parent-icon {
  padding: 10px;
  text-align: center;
  color: #bbb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar-parent-icon i {
  font-size: 24px;
}

.sidebar-parent-icon.active,
.sidebar-parent-icon:hover {
  background-color: #2C3D50;
  color: #F44E3B; 
}

.sidebar-parent-icon:not(.active):hover {
  color: #fff;
}