.sidebar {
  width: 11rem;
  height: -webkit-fill-available;
  background-color: #2b2e4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.sidebar-title {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: #fff;

}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu-item {
  padding: 0.7rem;
  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item.active {

  background-color: #D74848;
}

/* .menu-item:hover {
  
}  */

.menu-item span {
  margin-left: 10px;
}

.get-started {
  background-color: #1e2241;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  color: #ccc;
}

.start-setup-btn {
  background-color: #D74848;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

.start-setup-btn:hover {
  background-color: #ff6161;
}



.sidebar-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70px;
  height: -webkit-fill-available;
  background-color: #0B182A;
  padding-top: 20px;
}

.sidebar-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 767px) {
  .sidebar-parent {
    display: none;
  }

  .logo {
    display: none;
  }

  .sidebar-parent-icon{
    display: none;
  }

  .sidebar-footer {
    display: none;
  }

  .sidebar{
    display: none;
  }

  .sidebar-container{
    display: none;
  }
  
  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #0B182A;
    color: #fff;
  }

  .mobile-navbar-logo {
    width: 80%;
    cursor: pointer;
  }
  .mobile-navbar-left{
    display: flex;
    gap: 10px;
  }
  .mobile-navbar-right{
    display: flex;
    gap: 10px;
  }
  
}

@media (min-width: 768px) {
  /* .sidebar {
    display: none;
  }

  .sidebar-parent-icon {
    display: none;
  /* } */

  .mobile-navbar {
    display: none;
  } 

  .sidebar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }


}




.logo {
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.sidebar-parent-icon {
  padding: 10px;
  text-align: center;
  color: #bbb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar-parent-icon i {
  font-size: 24px;
}

.sidebar-parent-icon.active,
.sidebar-parent-icon:hover {
  background-color: #2C3D50;
  color: #F44E3B; 
}

.sidebar-parent-icon:not(.active):hover {
  color: #fff;
}