.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 6rem;
}

.label {
    font-size: 1.5rem;
    font-weight: 600;
}
/* absolute left-2 top-2.5 h-4 w-4 text-gray-500 */
.search-component {
    background-color: #EDEDF3;
    width: 200%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: #6B7280;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.link {
    color: darkblue;
    font-weight: 500;
    text-decoration: none;
}

.sortable-icon-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sortable-icon {
    width: 16px;
    height: 16px;
}

.sortable-icon-rotated {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}
